<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% if app.user %}
  <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% endif %}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if app.user %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{{ app.request.getpathinfo == "/events" ? ' active' : '' }}">
        <a class="nav-link" href="{{ path('events_index') }}">Events</a>
      </li>
    </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">
      {% if app.user %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ app.user.email }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('app_logout') }}">Signout</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>