{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-12 mt-2">
        <div class="alert alert-info" role="alert">
            Welcome to Event Manager!
            {% if not app.user %}
                <a href="{{ path('app_login') }}">Please login to continue</a>
            {% else %}
                <a href="{{ path('events_index') }}">Show all the events</a>
            {% endif %}
        </div>
    </div>
{% endblock %}