{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
{% endblock %}

{% block content %}
<div class="col-md-12 mt-2">
    <div class="text-left">
        <a href="{{ path('events_index') }}" class="">Go Back</a>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            <h4 class="card-title">Add New Event</h4>
        </div>
        <div class="card-body">
            {{ form(event_form) }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function (){
        $('#eventCreateForm').validate({
            errorElement: "div",
            errorClass: "invalid-feedback",
            rules: {
                title: {
                    required: true
                },
                description: {
                    required: true,
                },
                start_date: {
                    required: true
                },
                end_date: {
                    required: true
                },
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parent().find('input').removeClass(errorClass).addClass('is-invalid')
                $(element).parent().find('textarea').removeClass(errorClass).addClass('is-invalid')
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parent().find('input').removeClass('is-invalid');
                $(element).parent().find('textarea').removeClass('is-invalid');
                $(element).parent().find('.invalid-feedback').remove();
            }
        });

        $("#event_form_startDate").datepicker({
            dateFormat: 'yy-mm-dd',
            onSelect: function (selected) {
                $("#event_form_endDate").datepicker("option", "minDate", selected)
            }
        })
        $("#event_form_endDate").datepicker({
            dateFormat: 'yy-mm-dd',
        })
    });
</script>
{% endblock %}