{% extends 'base.html.twig' %}

{% block content %}
<div class="col-md-12 mt-2">
    <div class="text-right">
        <a href="{{ path('events_create') }}" class="btn btn-primary">New Event</a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-2">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card mt-2">
        <div class="card-header">
            <h4 class="card-title">List of {{ type }} events</h4>
        </div>
        <div class="card-body">
            <form action="{{ path('events_index') }}" class="mt-1 mb-1">
                <div class="col-md-6 ml-auto">
                    <div class="form-row">
                        <div class="col-md-2 ml-auto">
                            <label for="" class="control-label text-right">Filter By:</label>
                        </div>
                        <div class="col-md-3">
                            <select name="type" class="form-control" id="eventType">
                                <option value="all" {{ (type=='all' or type=="" ) ? 'selected' : '' }}>All</option>
                                <option value="upcomming" {{ type=='upcomming' ? 'selected' : '' }}>Upcomming</option>
                                <option value="finished" {{ type=='finished' ? 'selected' : '' }}>Finished</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-stripped table-hover text-nowrap p-1">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if events|length > 0 %}
                            {% for event in events %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.description }}</td>
                                <td>{{ event.startDate|date('M d, Y') }}</td>
                                <td>{{ event.endDate|date('M d, Y') }}</td>
                                <td>
                                    <a href="{{ path('events_edit', {id: event.id}) }}" class="btn btn-success">Edit</a>
                                    <button class="btn btn-danger btnDeleteAction" data-url="{{ path('events_delete', {id: event.id}) }}">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="7" class="text-center">No data available in table...</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{# put additional JS here #}
<script>
    $('#eventType').on('change', function () {
        if ($(this).val() == "all") {
            window.location.href = "/events";
        } else {
            $(this).closest('form').submit();
        }
    });

    $(document).on('click', '.btnDeleteAction', function (){
        if(confirm('Are you sure you want to delete this event?')){
            var rowElement = $(this);

            $.ajax({
                url: $(this).attr('data-url'),
                type: 'POST',
                success: function (response){
                    rowElement.closest('tr').remove();
                },
                error: function (){
                    alert('No record were deleted due to errors.');
                }
            })
        }
    })
</script>
{% endblock %}